version: 3.8.2

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - pokemon

definitions:
  streams:
    pokemon:
      type: DeclarativeStream
      name: pokemon
      retriever:
        type: SimpleRetriever
        requester:
          $ref: '#/definitions/base_requester'
          path: /pokemon
          http_method: GET
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path: []
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: '#/schemas/pokemon'
  base_requester:
    type: HttpRequester
    url_base: https://pokeapi.co/api/v2/

streams:
  - $ref: '#/definitions/streams/pokemon'

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required: []
    properties: {}
    additionalProperties: true

metadata:
  testedStreams:
    pokemon:
      hasRecords: true
      streamHash: 97a3b793bac57420aa97c13c972061f557d414b1
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
  autoImportSchema:
    pokemon: true

schemas:
  pokemon:
    type: object
    $schema: http://json-schema.org/schema#
    properties:
      next:
        type:
          - string
          - 'null'
      count:
        type:
          - number
          - 'null'
      results:
        type:
          - array
          - 'null'
        items:
          type:
            - object
            - 'null'
          properties:
            url:
              type:
                - string
                - 'null'
            name:
              type:
                - string
                - 'null'
    additionalProperties: true
